*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #10202b;
}
input{
   display: none;
}
.tabs{
   position: relative;
   display: flex;
   gap: 80px;
   padding: 30px 40px;
   border-radius: 1px solid rgba(255, 255, 255, 0.2);
   background: #182d3c;
   border-radius: 20px;
}
label{
   width: 20%;
   font-size: 1.75rem;
   color: transparent;
   opacity: 0.3;
   cursor: pointer;
   transition: 0.5s;
   -webkit-text-stroke: 1px #fff;
}
label:hover{
   opacity: 1;
   filter: drop-shadow(0 0 10pc #fff) drop-shadow(0 0 20px #fff);
}
input#home:checked ~ label[for="home"],
input#music:checked ~ label[for="music"],
input#likes:checked ~ label[for="likes"],
input#star:checked ~ label[for="star"],
input#settings:checked ~ label[for="settings"]{
   color: #fff;
   opacity: 1;
   filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
}
.underline{
   position: absolute;
   bottom: 0;
   width: 20%;
   height: 5px;
   left: 0;
   transition: 0.5s;
}
.underline::before, .underline::after{
   content: '';
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 40px;
   height: 100%;
   background: #fff;
   border-radius: 4px;
   filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff)
   drop-shadow(0 0 30px #fff) drop-shadow(0 0 50px #fff);
}
input#home:checked ~ .underline{
   left: 0;
}
input#music:checked ~ .underline{
   left: 20%;
}
input#likes:checked ~ .underline{
   left: 40%;
}
input#star:checked ~ .underline{
   left: 60%;
}
input#settings:checked ~ .underline{
   left: 80%;
}